header {
        background-color: #000080; /* Navy Blue */
        color: #f0f8ff; /* Light Blue */
        text-align: center;
        padding: 1em;
    }

    section {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color: #ffffff; /* White */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    footer {
        text-align: center;
        padding: 1em;
        background-color: #000080; /* Navy Blue */
        color: #f0f8ff; /* Light Blue */
    }